.team {
    background-color: $background-color;
    padding-top: 94px;
    padding-bottom: 94px;
    & &-item + &-item {
    margin-left: 30px;
    }
    &-list {
    justify-content: center;
    margin-top: 50px;
    }
    & &-list{
    display: flex;
    }
    &-list &-item {
    justify-content: center;
    }
    &-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $accent-text-color;
    }
    &-attachment {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    }
    &-employee {
    color: $heading-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 5px;
    }
    &-position {
    color: $text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 5px;
    margin-bottom: 0;
    }
    &-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    fill: $text-color;
        & .team-item + .team-item {
            margin-left: 10px;
        }
        &__link {
            display: flex;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            fill: $icon-color;
            transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                background-color: $accent-color;
                fill: $accent-text-color;
            }
        }
    }
}