.work {
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 30px;
        justify-content: center;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__title {
        color: $heading-text-color;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    &__card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
        &::before {
            display: inline-block;
            position: absolute;
            content: "";
            width: 370px;
            height: 70px;
            background: rgba(47, 48, 58, 0.8);
        }
    }
    &__text {
        position: absolute;
        bottom: 27px;
        color: $accent-text-color;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        inherits: none;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
}